In [21]:
import mysql.connector

In [26]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="Mydatabase1"
)
print(mydb)
print("conneted")

<mysql.connector.connection.MySQLConnection object at 0x0000029AE4E3C358>
conneted

In [27]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE MYdatabase1")

DatabaseError: 1007 (HY000): Can't create database 'mydatabase1'; database exists

In [28]:
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [36]:
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("abc", "Park 31")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [37]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Highway 21')
('John', 'Park Lane 38')
('abc', 'Park 31')

In [38]:
sql = "SELECT * FROM customers WHERE address ='Park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Park Lane 38')

In [39]:
sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('abc', 'Park 31')
('John', 'Highway 21')
('John', 'Park Lane 38')

In [40]:
sql = "DELETE FROM customers WHERE address ='Highway 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted

In [42]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('John', 'Park Lane 38')
('abc', 'Park 31')

In [43]:
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Park 31'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")

1 record(s) affected

In [46]:
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('John', 'Park Lane 38')
('abc', 'Canyon 123')

In [50]:
mycursor.execute("SELECT * FROM customers LIMIT 1")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

ProgrammingError: 1146 (42S02): Table 'mydatabase1.customers' doesn't exist

In [49]:
sql = "DROP TABLE customers"

mycursor.execute(sql)

In [ ]:
sql = "SELECT \
  users.name AS user, \
  products.name AS favorite \
  FROM users \
  INNER JOIN products ON users.fav = products.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)